<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Backbone JS - Views & Templating Example</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<main></main>

	<!-- templates -->
	<script type="text/template" id="dog-template">
		<h2>Name: <%= fullname %></h2>
		<p>Age: <%= age %><br>
		Fleas: <%= fleas %></p>

		<input class="fullname" type="text" value="<%= fullname %>"><br>
		<input class="age" type="number" value="<%= age %>"><br>
		<input class="fleas" type="text" value="<%= fleas %>"><br>

		<button class="update">Update</button><br>
		<button class="destroy">Destroy</button>
	</script>
	
	<!-- app scripts -->
	<script src="js/lib/jquery-min.js"></script>
	<script src="js/lib/underscore-min.js"></script>
	<script src="js/lib/backbone-min.js"></script>
	<script src="js/models/dog.js"></script>
	<script src="js/views/dog-view.js"></script>

</body>
</html>